@font-face {
    font-family: 'Comfortaa';
    src: url('/stage/fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/stage/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url('/stage/fonts/ArialRoundedMTBold.ttf');
}

body {
    /* background-color: rgb(111, 111, 111); */
    /* background-color: rgba(0, 0, 0, 0); */
    margin: 0;
    font-family: 'Tahoma';
    font-size: 4vh;
    /* font-weight: 700; */
    color: rgb(37, 37, 37);
    overflow: hidden;
}

#middle {
    position: fixed;
    top: 20vh;
    width: 100vw;
    height: 61vh;
}
#content {
    width: 98vw;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: space-between;
}

#middle-low {
    position: fixed;
    bottom: 5vh;
    width: 100%;
    max-height: 14vh;
}

/* CONGREGATION INSTRUCTION */
#congregation-instruction {
    position: relative;
    width: 95vw;
    height: 9vh;
    padding-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to right, rgb(117, 117, 117, 1.0), rgb(117, 117, 117, 1.0), rgb(117, 117, 117, 0.4));
    z-index: 11
}
#congregation-instruction .congregation-instruction-text {
    position: absolute;
    text-transform: uppercase;
    font-size: 6.8vh;
    font-family: 'Bebas Neue';
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(37, 37, 37);
}

/* MAIN TEXT */
#slide-main {
    width: 49.7vw;
    height: 100%;
    /* we need this flex to align its position:absolute children (required for animation without DOM movement */
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(2, 21, 78, 0.5);
    font-family: 'Arial Rounded MT Bold';
    text-shadow: 2px 2px 2px rgb(37, 37, 37);
}
#slide-main .main-text {
    width: 49.7vw;
    /* we need this flex to align its p children */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 9.5vh;
    font-weight: bold;
    z-index: 11; /* equals to congregation instructions' */
}
#slide-main .main-image {
    width: 49.7vw;
    height: 100%;
    z-index: 11; /* equals to congregation instructions' */
}
#slide-main .main-text p {
    width: fit-content;
    padding: 0.5vw 2vw;
    margin: 0;
    text-align: center;
    color: rgba(255, 255, 255);
}

#content-transparent-hole {
    width: 47.7vw;
    background-color: rgba(0, 0, 0);
}

/* DEFAULT CLASSES, TO BE LATER MODIFIED BY JAVASCRIPT */
.congregation-instruction-text, .slide-header-text, .main-text, .main-image {
    display: none;
}
/* #slide-date {
    margin-top: 0.7vh;
    height: 1.5vh;
    font-size: 1.3vh;
    line-height: 90%;
    text-align: center;
    font-weight: bold;
    color: black;
} */

/* FOR DEV MODE, BACKGROUND, USUALLY FOR TEMPLATE IMAGES */
#slide-background {
    position: absolute;
    top: 0px;
    vertical-align: middle;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    display: block;
    /* display: none; */
}
/* BUMPER */
#slide-video {
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 999;
}
#slide-black {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37);
    display: none;
    z-index: 998;
}
/* NOT ANGKA FULL */
#slide-image-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
.slide-full-image {
    max-width: 100%;
    height: 100%;
    /* max-width: 75%;
    height: 95%; */
}
#slide-white {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    background-image: url("/stage/kebaktian-general-2023_2.0/background-for-song.jpg");
    /* background-image: url("/stage/kebaktian-general-2023_2.0/white-frame-punched-out-long.png");     */
    display: none;
    z-index: 4;
}

/* ELEMENTS FOR HIDDEN PROCESSING */
#interim {
    display: none;
}

/* DISPLAY & FONTS CLASSES */
.invisible {
    visibility: hidden;
}

.small {
    font-size: smaller;
}

.large {
    font-size: larger;
}

.outline {
    color: white;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

.shadow-white {
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
  }

.shadow-black {
    text-shadow: 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37);
}
