@font-face {
    font-family: 'Comfortaa';
    src: url('/stage/fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/stage/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Arial Rounded MT';
    src: url('/stage/fonts/ArialRoundedMT-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Arial Rounded MT';
    src: url('/stage/fonts/ArialRoundedMT-Bold.ttf');
    font-weight: bold;
}

body {
    /* background-color: rgb(111, 111, 111); */
    /* background-color: rgba(0, 0, 0, 0); */
    margin: 0;
    font-family: 'Tahoma';
    font-size: 4vh;
    /* font-weight: 700; */
    color: rgb(37, 37, 37);
    overflow: hidden;
}

#middle {
    position: fixed;
    bottom: 3vh;
    width: 100%;
}
#content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* CONGREGATION INSTRUCTION */
#congregation-instruction {
    position: relative;
    width: 100vw;
    height: 4.2vh;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 11
}
#congregation-instruction .congregation-instruction-text {
    position: absolute;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}

/* MAIN TEXT */
#slide-main {
    /* we need this flex to align its position:absolute children (required for animation without DOM movement */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    background-color: rgba(56, 56, 56);
}
#slide-main .main-text {
    width: 96vw;
    padding: 1vw 2vw;

    text-align: center;
    color: rgba(255, 255, 255);

    font-family: 'Arial Rounded MT';
    /* font-weight: bold; */
    font-size: 5.5vh;
    text-transform: uppercase;
    /* letter-spacing: -0.1rem; */
    /* text-shadow: 2px 2px 2px rgb(255, 255, 255); */
    
    z-index: 11; /* equals to congregation instructions' */
}
#slide-main .main-image {
    width: 90%;
    padding: 0.5vw 2vw;
    background-color: rgba(255, 255, 255);
    z-index: 11; /* equals to congregation instructions' */
}

/* DEFAULT CLASSES, TO BE LATER MODIFIED BY JAVASCRIPT */
#congregation-instruction-text-2, #slide-header-text-2, #main-text-2, .main-image {
    display: none;
}
/* #slide-date {
    margin-top: 0.7vh;
    height: 1.5vh;
    font-size: 1.3vh;
    line-height: 90%;
    text-align: center;
    font-weight: bold;
    color: black;
} */

/* FOR DEV MODE, BACKGROUND, USUALLY FOR TEMPLATE IMAGES */
#slide-background {
    position: absolute;
    top: 0px;
    vertical-align: middle;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    display: block;
    display: none;
}
/* BUMPER */
#slide-video {
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 999;
}
#slide-black {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 37, 37);
    display: none;
    z-index: 998;
}
/* NOT ANGKA FULL */
#slide-image-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
.slide-full-image {
    max-width: 100%;
    height: 100%;
    /* max-width: 75%;
    height: 95%; */
}
#slide-white {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    /* background-image: url("/stage/kebaktian-general-2023_2.0/background-for-song.jpg"); */
    background-image: url("/stage/kebaktian-general-2023_2.0/white-frame-punched-out-long.png");
    display: none;
    z-index: 4;
}

/* ELEMENTS FOR HIDDEN PROCESSING */
#interim {
    display: none;
}

/* DISPLAY & FONTS CLASSES */
.invisible {
    visibility: hidden;
}

.small {
    font-size: smaller;
}

.large {
    font-size: larger;
}

.outline {
    color: white;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

.shadow-white {
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
  }

.shadow-black {
    text-shadow: 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37), 0 0 4px rgb(37, 37, 37);
}
