/******************************************************************************
* OpenLP - Open Source Lyrics

This view is for the bible right-third 
 

*/

body {
  background-color:transparent;
  font-family: sans-serif;
  
}

/* Create three equal columns that floats next to each other */
.column {
  float: right;
  width: 33.33%;
  padding: 0.5%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#songtitle { 
	/*display: absolute;
	#right:0%;*/
	font-size:1.8vw; 
	text-decoration:underline; 
	color: white;
  	text-shadow: 2px 2px grey;
    	padding: 0.5%;
  	text-align: right;
}

#currentslide {
  
  /*display:inline-block;
  #align-self: flex-end;
  #right:0%;*/
  font-size:2.4vw; 
  color: white;
  text-shadow: 2px 2px grey;
  
  padding: 0.5%;
  text-align: right;
  vertical-align:top;   
}


#nextslide {

	visibility: colapse; 
	display: none
}





